header {
  height: 3rem;
  justify-content: center;
  display: flex;
}

header a {
  margin-right: auto;
  text-decoration: none;
  color: #24292e;
}

header a:visited {
  color: #24292e;
}

header h1 {
  position: absolute;
}

div#graph {
  width: 100%;
  height: 90vh;
  resize: both;
  overflow: hidden; }


div#statements {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #e8e8e8; /* FIXME: use sass */
}

#Legend span.title {
    font-size: 150%;
    font-weight: bold;
	display: inline;
	margin-right: 2rem;
}

#Legend dl {
    font-size: 120%;
	display: inline;
}

#Legend dt {
    font-weight: bold;
	display: inline;
}

#Legend dt::after {
 content: ":";
}

#Legend dd {
	margin-left: .5rem;
	margin-right: 1rem;
	display: inline;
}

button.dep-closebtn
{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 100%;
    font-weight: bold;

    background: Transparent;
    border: none;

    text-decoration: none;

/*    color: #fff;*/
    cursor: pointer;
}

div.dep-modal-container {
  position: fixed;
  z-index: $modal-z-index;
  top: 0;
  left: 0;

  display: none;

  width: 90vw;
  margin-top: 4rem;
  margin-left: 5vw;
  margin-right: 5vw;
}
div.dep-modal-content {
  font-weight: normal;

  overflow: auto;

  margin: auto;

  vertical-align: middle;

  border: 1px solid #497da5; /* FIXME use sass, compare main modals */
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  padding: .5rem 1rem .2rem 1rem;
}

div.dep-modal-content a {
  color: inherit;
  text-decoration: none;
}

div.thm_icons .icon {
    width: .7rem;
    height: .7rem;
}

a.latex_link, a.lean_link {
	font-weight: normal;
    font-size: 90%;
    font-style: italic;
}

a.latex_link {
	padding-left: 1rem;
}

a.lean_link {
	padding-left: .5rem;
}

/* Tooltip container */
.tooltip {
  font-weight: normal;
  margin-left: .5rem;
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip_list {
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  top: 100%;
}

ul.tooltip_list {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #497da5; /* FIXME use sass, compare main modals */
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

ul.tooltip_list li {
  padding: .1rem .5rem;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip_list {
  visibility: visible;
}
