div#graph {
  width: 100%;
  height: 100vh;
  resize: both;
  overflow: hidden; }


div#statements {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #e8e8e8; /* FIXME: use sass */
}

button.closebtn
{
    position: absolute;
    top: 0;
    right: 5rem;
    font-size: 100%;
    font-weight: bold;

    background: Transparent;
    border: none;

    margin: auto 0;
    padding-right: .3rem;

    text-decoration: none;

/*    color: #fff;*/
    cursor: pointer;
}

.links line {
  stroke: #aaa; }

circle.active {
  fill: red; }

circle.activehighlight {
  stroke: red;
  stroke-width: 3px; }

circle.highlight {
  stroke: black;
  stroke-width: 3px; }
