header {
  height: 3rem;
}

header a {
  margin-right: auto;
  text-decoration: none;
  color: white;
}

header h1 {
  position: absolute;
}

section h2 {
  margin: .5rem;
  cursor : pointer;
}

ul.coverage {
  display: none;
}

ul.coverage li {
  margin: 1rem;
}

div.thm_thm_content {
  display: none;
}

span.ok {
  color: green;
}

span.partial {
  color: orange;
}

span.void {
  color: red;
}

div.thm_thmheading {
  cursor : pointer;
  margin-bottom: .5rem;
}
