<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles/style.css" />
<link rel="stylesheet" href="styles/theme-blue.css" />
<link rel="stylesheet" href="styles/stylecours.css" />
<link rel="stylesheet" href="styles/style_coverage.css" />
{% if config.html5['use-mathjax'] %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" src="{{ config.html5['mathjax-url'] }}">
</script>
{% endif %}
<title>Formalization status</title>
</head>

<body>
<div class="wrapper">
<header>
  <a href="index.html">Home</a>
  <h1 id="doc_title">Formalization status</h1>
</header>

<div class="content">

<h2>Completion report</h2>

Click chapter titles to see missing items.

{% for partial in report.partials %}
<section>
  <h3>{{ partial.title }} <span class="{{ partial.status }}">{{ partial.coverage }}%</span></h3>
  {% if partial.nb_not_covered %}
  <ul class="coverage">
    {% for thm in partial.thm_reports %}
    {% if not thm.done %}
    <li>
      <div class="thm_thmheading">{{ thm.caption }} ({{ thm.id }})</div>
      <div class="thm_thm_content">{{ thm.statement }}</div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</section>
{% endfor %}

<h2>What to define next?</h2>

{% for partial in report.partials %}
<section>
  {% if partial.define_next %}
  <h3>{{ partial.title }}</h3>
  <ul class="coverage">
    {% for thm in partial.define_next %}
    <li>
      <div class="thm_thmheading">{{ thm.caption }} ({{ thm.id }})</div>
      <div class="thm_thm_content">{{ thm.statement }}</div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
{% endfor %}

<h2>What to state next?</h2>

{% for partial in report.partials %}
<section>
  {% if partial.state_next %}
  <h3>{{ partial.title }}</h3>
  <ul class="coverage">
    {% for thm in partial.state_next %}
    <li>
      <div class="thm_thmheading">{{ thm.caption }} ({{ thm.id }})</div>
      <div class="thm_thm_content">{{ thm.statement }}</div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
{% endfor %}

<h2>What to prove next?</h2>

{% for partial in report.partials %}
<section>
  {% if partial.prove_next %}
  <h3>{{ partial.title }}</h3>
  <ul class="coverage">
    {% for thm in partial.prove_next %}
    <li>
      <div class="thm_thmheading">{{ thm.caption }} ({{ thm.id }})</div>
      <div class="thm_thm_content">{{ thm.statement }}</div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
{% endfor %}

</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/coverage.js"></script>
</body>
</html>
