{% macro icon(icon, id='', class='') %}
<svg  {% if id %}id="{{id}}" {% endif %}class="icon icon-{{ icon }} {{ class }}"><use xlink:href="symbol-defs.svg#icon-{{ icon }}"></use></svg>
{% endmacro %}
{% macro modal(id) %}
    <div class="dep-modal-container" id="{{ id }}">
      <div class="dep-modal-content">
          <button class="dep-closebtn">{{ icon('cross') }}</button>
        {{ caller() }}
      </div>
    </div>
{% endmacro %}
<!DOCTYPE html>
<html>
<head>
  <title>{{ context.terms.get('Dependency graph', 'Dependency graph') }}</title>
  <meta name="generator" content="plasTeX" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="styles/theme-{{ config['html5']['theme-css'] }}.css" />
  <link rel="stylesheet" href="styles/dep_graph.css" />
  {% if config.html5['use-mathjax'] %}
  <script type="text/x-mathjax-config">
  {% if config.html5['mathjax-dollars'] %}
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  {% else %}
    MathJax.Hub.Config({tex2jax: {inlineMath: [ ['\\(','\\)']]}});
  {% endif %}
  </script>
  <script type="text/javascript" src="{{ config.html5['mathjax-url'] }}">
  </script>
{% endif %}

</head>

<body>
<div class="wrapper">
<header>
  <h1 id="doc_title">{{ title }}</h1>
</header>
<div class="content">
	<div id="Legend">
		<span class="title">Legend:</span>
		<dl>
			<dt>Boxes</dt><dd>definitions</dd>
			<dt>Ellipses</dt><dd>theorems </dd>
			<dt>Blue border</dt><dd>ready</dd>
			<dt>Blue bg</dt><dd>proof ready</dd>
			<dt>Green border</dt><dd>statement done</dd>
			<dt>Green bg</dt><dd>proof done</dd>
		</dl>
	</div>
    <div id="graph"></div>
<div id="statements">
{%- for thm in graph.nodes %}

    {% call modal(thm.id) %}
  <div class="thm" id="{{ thm.id }}" style="display: none">
    <div class="thm_thmheading">
      <a href="{{ thm.url }}">
      <span class="{{ thm.thmName }}_thmcaption">
      {{ thm.caption }}
      </span>
      {% if thm.ref -%}
      <span class="{{thm.thmName}}_thmlabel">{{thm.ref}}</span>
      {%- endif -%}
      {% if thm.title -%}
      <span class="{{thm.thmName}}_thmtitle">{{ thm.title }}</span>
      {%- endif -%}
      </a>
    </div>
    <div class="thm_thmcontent">{{ thm }}</div>
  </div>
    {% endcall %}
{%- endfor -%}
</div>
</div> <!-- content -->
</div> <!-- wrapper -->
<script src="js/jquery.min.js" type="text/javascript"></script>

<script src="js/d3.min.js"></script>
<script src="js/hpcc.min.js"></script>
<script src="js/d3-graphviz.js"></script>

<script type="text/javascript">
const graphContainer = d3.select("#graph");
const width = graphContainer.node().clientWidth;
const height = graphContainer.node().clientHeight;

graphContainer.graphviz({useWorker: true})
    .width(width)
    .height(height)
    .fit(true)
    .renderDot('{{ dot.replace('\n','') }}')
    .on("end", interactive);

clickNode = function() {
  $("#statements div").hide()
  var node_id = $('text', this).text();
    console.log(node_id);
  console.log('#'+node_id.replace(':', '\\:'));
  $('.thm').hide();
  $('#'+node_id.replace(':', '\\:')).show().children().show();
}
function interactive() {

    d3.selectAll('.node')
        .attr('pointer-events', 'fill')
        .on('click', function () {
           var title = d3.select(this).selectAll('title').text().trim();
           $('#statements > div').hide()
           $('.thm').hide();
           $('#'+title.replace(':', '\\:')).show().children().show();
           $('#statements').show()
        });

    d3.selectAll('.dep-closebtn').on('click', function() {
        console.log(this);
        console.log(d3.select(this));
        var modal =
            d3.select(this).node().parentNode.parentNode.parentNode ;
        d3.select(modal).style('display', 'none');
    });
}

</script>

</body>
</html>

