<!DOCTYPE html>
<html>
<head>
  <title>{{ context.terms.get('Dependency graph', 'Dependency graph') }}</title>
  <meta name="generator" content="plasTeX" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="styles/theme-{{ config['html5']['theme-css'] }}.css" />
  <link rel="stylesheet" href="styles/dep_graph.css" />
  {% if config.html5['use-mathjax'] %}
  <script type="text/x-mathjax-config">
  {% if config.html5['mathjax-dollars'] %}
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  {% else %}
    MathJax.Hub.Config({tex2jax: {inlineMath: [ ['\\(','\\)']]}});
  {% endif %}
  </script>
  <script type="text/javascript" src="{{ config.html5['mathjax-url'] }}">
  </script>
{% endif %}
</head>

<body>
<div class="wrapper">
<header>
  <h1 id="doc_title">{{ title }}</h1>
</header>
<div class="content">
<div class="dep_graph">
  <svg class="dep_graph" viewBox="0 0 100 100"></svg>
</div>

<div id="statements">
{%- for thm in graph.nodes %}
  <div class="thm" id="{{ thm.id }}" style="display: none">
    <div class="thm_thmheading">
      <span class="{{ thm.thmName }}_thmcaption">
      {{ thm.caption }}
      </span>
      {% if thm.ref -%}
      <span class="{{thm.thmName}}_thmlabel">{{thm.ref}}</span>
      {%- endif -%}
      {% if thm.title -%}
      <span class="{{thm.thmName}}_thmtitle">{{ thm.title }}</span>
      {%- endif -%}
    </div>
    <div class="thm_thmcontent">{{ thm }}</div>
  </div>
{%- endfor -%}
</div>
</div> <!-- content -->
</div> <!-- wrapper -->
<script src="{{ jquery_url }}" type="text/javascript"></script>
<script src="{{ d3_url }}" type="text/javascript"></script>
<script type="text/javascript">
var graph = {
  nodes: [
{%- for node in graph.nodes %}
    {
      id: '{{ node.id }}',
    },
{%- endfor -%}
  ],
  links: [
{%- for source, target in graph.edges %}
    {
      source: '{{ source.id }}',
      target: '{{ target.id }}',
    },
{%- endfor -%}
  ]
}
</script>

<script src="js/dep_graph.js" type="text/javascript"></script>

</body>
</html>

